<aside id="sidebar">
     <!--分类-->
  <div class="widget-wrap">
    <h3 class="widget-title">分类</h3>
    <div class="widget">
      <ul class="category-list">
          <li class="category-list-item">
              <a class="category-list-link" href="http://127.0.0.1:8000/#">Django实战</a>
              <span class="category-list-count">1</span>
          </li>
      </ul>
      </div>
  </div>

     <!--归档-->
  <div class="widget-wrap">
    <h3 class="widget-title">归档</h3>
    <div class="widget">
      <ul class="archive-list">
          <li class="archive-list-item">
              <a class="archive-list-link" href="http://127.0.0.1:8000/#">十月 2017</a>
              <span class="archive-list-count">2</span>
          </li>
      </ul>
    </div>
  </div>

  <div class="widget-wrap">
    <h3 class="widget-title">近期文章</h3>
    <div class="widget">
      <ul>
          <li>
            <a href="http://127.0.0.1:8000/#">Django实战之个人博客</a>
          </li>
      </ul>
    </div>
  </div>
  <div class="widget-wrap">
    <h3 class="widget-title">友情链接</h3>
    <div class="widget">
      <ul>
          <li>
            <a href="http://www.bjsxt.com/" target="_blank">尚学堂</a>
          </li>
          <li>
            <a href="http://www.sxt.cn/" target="_blank">速学堂</a>
          </li>
      </ul>
    </div>
  </div>
</aside>